<form action="/payment/results">
  <div>
    <label for="apr">APR</label>
    <input type="text" name="apr" id="apr" placeholder="E.g. 5.42">
  </div>
  <div>
    <label for="num_years">Number of years</label>
    <input type="text" name="years" id="num_years" placeholder="How many years to repay?">
  </div>
  <div>
    <label for="principal">Principal</label>
    <input type="text" name="principal" id="principal" placeholder="How much principal?">
  </div>  
  <button style="display:block">Calculate monthly payment</button>
</form>
